@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

#fullChart {
  width: 100%;
  text-align: center;
}

#chart_svg {
  display: inline-block;
  /* margin: 0 auto; */
  padding-left: 50px;
}

/* .[$ChartLine] {
  fill: none;
  stroke: #2b4162;
  stroke-width: 2px;
} */

#chart_svg path {
  fill: none;
  stroke: #2b4162;
  stroke-width: 2px;
}

.tslaStockData {
  fill: #FF0000;
  stroke: #FF0000;
}

.etsyStockData {
  fill: #00FF00;
  stroke: #00FF00;
}


.gmeStockData {
  fill: #0000FF;
  stroke: #0000FF;
}


.siglStockData {
  fill: #F0F0F0;
  stroke: #F0F0F0;
}

.btcusdStockData {
  fill: #0F0F0F;
  stroke: #0F0F0F;
}


#tooltip {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}
