@import "https://assets.loupbrun.ca/fonts/booster/stylesheet.css";

html {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
}

.fullselectionbar {
  width: 100%;
  text-align: center;
}

.instructions {
  font-weight: normal;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}
.stockselection {
  padding-top: 100px;
}

.MuiToggleButton-root {
  text-transform: capitalize !important;
}

/*
.MuiTouchRipple-root {
  width: 5px !important;
} */

.engagementKey img {
  width: 100%;
}

.MuiSvgIcon-root {
  height: 30px !important;
  width: 30px !important;
}

.MuiCheckbox-colorSecondary.Mui-checked.tslaBox{
    color: #F72585 !important;

}

.MuiCheckbox-colorSecondary.Mui-checked.etsyBox{
    color: #7209B7 !important;

}

.MuiCheckbox-colorSecondary.Mui-checked.gmeBox{
    color: #4895EF !important;

}


.MuiCheckbox-colorSecondary.Mui-checked.gmBox{
    color: #EF233C !important;

}

.MuiFormLabel-root {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif !important;
}

.MuiTypography-body1 {
  font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif !important;
}
