.fullsidebar {
  background-color: #CED0CE;
  height: 100%;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.currentinfo {

}

.date {
  font-weight: 400;
  font-size: 25px;
}

.priceChangeYesterday, .priceChangeLastTweet {

  font-weight: normal;

}

.arrowup {
  position: relative;
  color: #4B7F52;
  font-size: 70px !important;

}

.arrowdown {
  position: relative;
  color: #FF0000;
  font-size: 70px !important;

}

.price {

}


.priceUpBox {

}


.priceChangeBox {
  /* display: flex;
  align-items: center; */
  background-color: #FFFFFF;
  padding: 25px;
  background-clip: content-box;
  /* border-color: #000000;
border-width: thin; */

}

.tweetBox {
  margin-top: 50px;
  background-color: #FF0000;
  padding: 10px;

}
