.fullsidebar {
  background-color: #CED0CE;
  height: 100%;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.currentinfo {

}

.date {
  font-weight: 400;
  font-size: 25px;
}

.priceChangeYesterday, .priceChangeLastTweet {

  font-weight: normal;

}
