.fullsidebar {
  background-color: #CED0CE;
  height: 100%;
  overflow: auto;
  width: 100%;
  text-align: center;
}

.currentinfo {

}


.priceChangeYesterday, .priceChangeLastTweet {

  font-weight: normal;

}
