/* Main Layout */




/* Data Elements */

.chartLine {
  fill: none;
  stroke: #2b4162;
  stroke-width: 2px;
}

.tooltip {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}
